/* styles.css */

.sidebar {
    background-color: orange;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar h1 {
    color: black;
}

.portfolio {
    background-color: wheat;
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .portfolio { 
    left: 0;
}

input:checked ~ label {
    left: 0;
}

label {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 20%;
    background-color: grey;
    padding: 10px;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

h1 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
    padding: 10px;
}

h3 {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
    padding: 10px;
}

p {
    padding-left: 10px;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
}

